{% extends 'layout.twig' %}

{% block title "Mes Articles" %}
{% block body %}
<h1> Bienvenue sur le blog</h1>
<div id="cards"></div>
<div class="spacer-container">
    {% for post in posts %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card bg-primary border-light shadow-soft">
                <img src="http://www.neostrap.net/asstets/img/company_layout/company_layout_3_s.png" class="card-img-top rounded-top" alt="Themesberg office">
                <div class="card-body">
                    <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>Awards</span>
                    <h3 class="h5 card-title mt-6">{{ post.name }}</h3>
                    <p class="card-text mb-6">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{ path('blog.show', {slug: post.slug, id:post.id}) }}" class="btn btn-primary btn-sm">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
